@import '../../../styleConsts/styleConsts.module.css';

.form {
  width: 600px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.pageTitle {
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 5px;
  color: var(--color-white);
}

.fieldTitle {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: var(--color-red);
}

.field {
  background-color: var(--color-light-grey);
  color: var(--color-white);
  font-size: 14px;
  padding: 3px;
}

.btnsContainer {
  display: flex;
  justify-content: flex-end;
}

.resetBtn {
  background-color: var(--color-black);
  border: 2px solid var(--color-red);
  color: var(--color-red);
}

.error {
  color: var(--color-red);
}
