@import '../../styleConsts/styleConsts.module.css';

.wrapper {
  background-color: var(--color-black);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 600px){
  .listItem {
    margin: 1.6rem;
    flex: 0 0 33%;
  }
}

@media (min-width: 1080px){
  .listItem {
    flex: 0 0 23%;
  }
}