@import '../../../styleConsts/styleConsts.module.css';
  
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px;
}

.window {
  padding: 50px;
  min-height: 300px;
  background-color: var(--color-black);
  position: relative;
}  

.closeBtn {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 0px;
  background: none;
  border: none;
}