* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style: none;
}

li {
  padding: .25rem;
}

a {
  text-decoration: none;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

button {
  border: 2px solid var(--color-red);
  border-radius: 5px;
  margin-right: 15px;
  padding: 7px 35px;
  text-transform: uppercase;
  font-size: 25px;
  background-color: var(--color-red);
  color: var(--color-white);
}